<div id="wrapper">
  <header class="clearfix">
    <form class="form-search" {{action search on="submit"}}>
      {{input type="text" classNames="search square" value=q placeholder="Search Vimeo..."}}
    </form>
  </header>

  {{outlet}}
</div>