<form class="well form-search" {{action search on="submit"}}>
  {{input type="text" value=q placeholder="Search..."}}
  <button type="submit" class="btn btn-primary">Search</button>
</form>

{{outlet}}

