<ol id="results">
  {{#each videos itemController="video"}}
  <li class="clearfix">
    {{#linkTo "video" this classNames="thumb"}}
      <img {{bindAttr src="thumbnail"}} class="thumbnail thumbnail_med_wide">
    {{/linkTo}}
    {{partial 'data'}}
  </li>
  {{/each}}
</ol>

{{#if isLoading}}
... loading ...
{{/if}}