{{#if isLoaded}}

<div id="video">

  <div class="above_link clearfix">
    <a href="javascript:history.back();">&laquo; search results</a>
    <button class="btn btn-mini btn-primary pull-right">Embed Video</button>
  </div>

  <div class="flex-video widescreen vimeo">
    {{{oembed.html}}}
  </div>

  {{partial 'data'}}
</div>

{{else}}

<p>Loading...</p>

{{/if}}
