<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Vimeo LTI</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/2.3.2/flatly/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/application.css" >
</head>
<body>
  <script src="javascripts/vendor/moment.js"></script>
  <script src="javascripts/application.js"></script>
</body>
</html>