<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Vimeo LTI</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/2.3.2/cerulean/bootstrap.min.css">
  <link href="stylesheets/application.css" rel="stylesheet">
</head>
<body>
  <script src="javascripts/application.js"></script>
</body>
</html>