<div class="row-fluid">
  <div class="outer-pad">
    <h3>Video Selected!</h3>

    <p>You're not in a system that supports auto-inserting content, so you'll need to copy and past the following code by hand in order to insert it into your content.</p>

    <textarea class="span12"><iframe src="<%= @query[:url] %>" title="<%= @query[:title] %>" width="<%= @query[:width] %>" height="<%= @query[:height] %>" /></textarea>
  </div>
</div>